html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #e3f9e5;
}

header {
  width: 100vw;
}

ul,
a,
li {
  text-decoration: none;
  list-style: none;
}

.repositorio {
  display: flex;
  flex-direction: column;
}
.repositorio a {
  padding: 5px 0;
  width: fit-content;
  margin: 0 auto;
}

.repositorio a:hover {
  color: #fff;
}

h1 {
  font-size: 52px;
}

#menu {
  display: flex;
  width: 100vw;
  height: 3.5rem;
  position: fixed;
  background-color: rgb(49, 184, 164);
  z-index: 200;
  box-shadow: 0px 0px 10px #aaa;
}

iframe {
  width: 80%;
  height: auto;
}

.image img {
  width: 100%;
  height: auto;
}

#menu ul {
  display: flex;
  width: 100%;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
}
#menu a {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  padding: 1rem;
}

#menu a:hover {
  background-color: #73df73;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px #aaa;
}

#content {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 80vw;
  height: 100vh;
}

#rotas {
  padding: 1rem;
  background-color: #c7f2c9;
}
#rotas ul li {
  padding-bottom: 3rem;
  text-align: start;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;

  margin: 1rem 0;
}

#usercase {
  padding: 1rem;
  background-color: #abebae;
}
#usercase ul li h3 {
  text-align: start;
  font-size: 1.5rem;
}

#usercase ul li p {
  background-color: #8fe58f;
  padding: 2rem;
  border-radius: 1rem;

  margin: 0 auto;
}

#arquitetura {
  padding: 1rem;
  background-color: #73df73;
  margin: 0 auto;
}

#arquitetura ul {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
}

#arquitetura .lista {
  display: flex;
  align-items: center;
  justify-content: center;
}

#arquitetura ul li {
  text-align: center;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  margin: 0.5rem 0;
  box-shadow: 0px 0px 10px #aaa;
  border-radius: 10px;
}

code {
  text-align: center !important;
}

.code {
  width: 300px;
  height: 5rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  color: #000 !important;
  font-size: 0.8rem;
  margin: 1rem 0;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px #aaa;
  border-radius: 10px;
}

.elegant-shadow {
  box-shadow: 0px 0px 10px #aaa;
  border-radius: 10px;
}

.container {
  width: 50vw;
  margin: 0 auto;
}
.container p {
  padding: 1rem;
  background-color: #e3f9e5;
  font-weight: bold;
}

#video {
  padding: 1rem;
  background-color: #46834c;
  color: #fff;
}

.desenvolvedores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.desenvolvedores .perfil img {
  height: auto;
  border-radius: 50%;
  width: 50%;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.perfil {
  overflow: hidden;
}
.perfil:hover {
  bottom: -36px;
  opacity: 1;
}

.desenvolvedores .perfil img:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 1203px) {
  #menu a {
    font-size: 12px;
    padding: 14px;
  }

  #menu ul {
    display: flex;
    width: 100vw;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #menu {
    height: fit-content;
    align-items: center;
    justify-content: center;
    justify-content: center;
    align-items: center;
  }
  p,
  a,
  h3 {
    font-size: 12px;
  }

  h1 {
    margin-top: 5rem;
    font-size: 22px;
  }

  #usercase ul li h3 {
    text-align: start;
    font-size: 1rem;
  }

  #rotas ul li {
    font-size: 1rem;
  }

  .code {
    width: 60%;
    height: fit-content;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    color: rgb(34, 6, 246) !important;
    font-size: 0.8rem;
  }
}
