<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/styles.css')}}"
    />
    <title>API Lucasi DEV</title>
  </head>
  <body>
    <ul>
      <h1>Rotas da API</h1>
      <li>/getTransaction -> GET</li>
      <li>/cnpj -> GET</li>
      <li>/user -> POST, PUT, DELETE</li>
      <li>/transaction -> POST</li>
      <li>/changeTransaction -> DEL, PUT</li>
    </ul>
  </body>
</html>
